[submodule "UGUI"]
	path = UGUI
	url = git@github.com:achimdoebler/UGUI.git
[submodule "1971_Game"]
	path = 1971_Game
	url = git@github.com:sarthi92/1971_Game.git
[submodule "MKS-TFT"]
	path = MKS-TFT
	url = git@github.com:robotsrulz/MKS-TFT.git
[submodule "lvgl"]
	path = lvgl
	url = https://github.com/littlevgl/lvgl.git
[submodule "glcd"]
	path = glcd
	url = https://github.com/andygock/glcd.git
[submodule "EasyGUI"]
	path = EasyGUI
	url = https://github.com/MaJerle/EasyGUI
[submodule "Demo/STM32_ChibiOS_uGFX_UC1601s_RDX0154"]
	path = Demo/STM32_ChibiOS_uGFX_UC1601s_RDX0154
	url = https://github.com/pashamray/STM32_ChibiOS_uGFX_UC1601s_RDX0154.git
[submodule "Demo/STM32_ChibiOS_uGFX_PCD8544"]
	path = Demo/STM32_ChibiOS_uGFX_PCD8544
	url = https://github.com/pashamray/stm32_chibios_ugfx_pcd8544.git
[submodule "Demo/STM32_ChibiOS_uGFX_KS0108"]
	path = Demo/STM32_ChibiOS_uGFX_KS0108
	url = https://github.com/pashamray/stm32_chibios_ugfx_ks0108.git
[submodule "eGUI"]
	path = eGUI
	url = https://github.com/codeauroraforum/eGUI.git
[submodule "D4CD"]
	path = D4CD
	url = https://github.com/Gargy007/D4CD.git
[submodule "Demo/ChibiOS-LCD-Driver"]
	path = Demo/ChibiOS-LCD-Driver
	url = https://github.com/miguelmoreto/ChibiOS-LCD-Driver.git
[submodule "wex"]
	path = wex
	url = https://github.com/NREL/wex.git
